# Ignore CSVs with learner profiles
learner_profile.csv
!*_prompts.csv
!learner_profile_sample.csv

# Ignore __pycache__
__pycache__
*.pyc

# Ignore screencaps
uploads/*.png

# Ignore config file
data/config.ini

# Ignore subtitles files
data/subtitles

# Ignore unstandardized dictionaries
data/dictionaries/*.txt
data/dictionaries/*.u8

# Ignore tessdata directory
tessdata/*

# Ignore venv directory
venv
.venv

# Ignore build, data, and dist files
build
dist

# Ignore DS_Store files
*DS_Store
