# Ignore CSVs with learner profiles
*.csv
!*_prompts.csv
!*_samples.csv
!subtitles.csv
!learner_profile_sample.csv

# Ignore screencaps
*.png

# Ignore config file
*.ini

# Ignore tessdata directory
tessdata/*

# Ignore venv directory
venv

# Ignore build and dist files
build
dist

# Ignore .pyc files
*.pyc
