# Ignore CSVs with learner profiles
*.csv
!*_prompts.csv
!learner_profile_sample.csv

# Ignore screencaps
*.png

# Ignore config file
data/config.ini

# Ignore tessdata directory
tessdata/*

# Ignore venv directory
venv

# Ignore build, data, and dist files
build
dist
data

# Ignore .pyc files
*.pyc

*DS_Store
