<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Courier+New:wght@700&display=swap" rel="stylesheet">
    <!-- Include jQuery (required for ionRangeSlider) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include ionRangeSlider CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ion-rangeslider/css/ion.rangeSlider.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

    <title>Project Lexeme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
<div id="header">PROJECT LEXEME</div>
<div class="container">
    <div class="tile" onclick="showLessonOptions()">
        <h2>GENERATE LESSON</h2>
        <p>Get lessons from subtitles or vocabulary</p>
    </div>
    <div class="tile" onclick="showSettingsOptions()">
        <h2>CHANGE SETTINGS</h2>
        <p>Customize your experience</p>
    </div>
    <div class="tile" onclick="showRecordOptions()">
        <h2>RECORD CONTENT</h2>
        <p>Capture screenshots and record your screen</p>
    </div>
    <div class="tile" onclick="showUploadOptions()">
        <h2>UPLOAD FILES</h2>
        <p>Upload .srt files (or maybe CSV's in the future)</p>
    </div>
    <div class="tile">
        <h2>ALSO COMING SOON</h2>
        <p>More features</p>
    </div>
    <div class="tile">
        <h2>COMING, BUT NOT SO SOON</h2>
        <p>Expand capabilities</p>
    </div>
</div>

<div id="app-configuration">
    <h3>App Configuration</h3>
    <ul>
        <li><strong>Number of Preprocessors:</strong> <span id="num_processors">{{ num_processors }}</span></li>
        <li><strong>Tesseract Configuration:</strong> <span id="tesseract_configuration">{{ tesseract_configuration }}</span></li>
        <li><strong>Time Between Screenshots:</strong> <span id="time_between_screenshots">{{ time_between_screenshots }}</span></li>
        <li><strong>Base URL:</strong> <span id="base_url">{{ base_url }}</span></li>
        <li><strong>API Key:</strong> <span id="api_key"></span></li>  <!-- HIDDEN: {{ api_key }} -->       
        <li><strong>Model:</strong> <span id="model">{{ model }}</span></li>
        <li><strong>Language:</strong> <span id="lang">{{ lang }}</span></li>
        <li><strong>Proficiency:</strong> <span id="prof">{{ prof }}</span></li>
    </ul>
</div>

<div id="lesson-prompt-options">
    <div class="tile" onclick="getLessonFromSubtitles()"><h2>GET LESSON FROM SUBTITLES</h2></div>
    <div class="tile" onclick="getLessonFromVocabulary()"><h2>GET LESSON FROM VOCABULARY</h2></div>
    <div class="tile" onclick="goBack()"><h2>BACK</h2></div>
</div>

<div id="change-settings-options">
    <div class="tile" onclick="modifyConfigurationOptions()"><h2>MODIFY CONFIGURATIONS</h2></div>
    <div class="tile" onclick="viewGeneratedSubtitles()"><h2>VIEW GENERATED SUBTITLES</h2></div>
    <div class="tile" onclick="viewPromptsForLLM()"><h2>VIEW PROMPTS</h2></div>
    <div class="tile" onclick="goBack()"><h2>BACK</h2></div>
</div>

<div id="modify-configuration-options">
    <div class="tile" id="change-settings-button" onclick="changeConfigurationValues()"><h2>CHANGE CONFIGURATION VALUES</h2></div>
    <div class="tile" id="submit-settings-button" onclick="submitSettings()" style="display: none;"><h2>SUBMIT CHANGES</h2></div>
    <div class="tile" id="configuration-back-button" onclick="goBackToChangeSettingsOptions()"><h2>BACK</h2></div>
</div>

<div id="subtitle-selection">
    <div class="prompt-container">
        <span style="font-size: 20px">I WANT TO GENERATE A</span>
        <div class="dropdown-wrapper">
            <select id="prompt-type-dropdown" class="custom-dropdown"></select>
        </div>
        <span style="font-size: 20px">WITH</span>
        <div class="dropdown-wrapper">
            <select id="subtitle-dropdown" class="custom-dropdown"></select>
        </div>
    </div>
    <div class="tile generate-tile" onclick="generate()">
        <h2>GENERATE</h2>
    </div>
    <div class="tile back-tile" onclick="goBackToLessonOptions()">
        <h2>BACK</h2>
    </div>
</div>

<div id="record-content-options">
    <div class="tile" onclick="takeScreenshot()"><h2>TAKE SCREENSHOT</h2></div>
    <div class="tile" onclick="toggleScreenRecording()"><h2>BEGIN RECORDING SCREEN</h2></div>
    <div class="tile" onclick="adjustBoundingBox()"><h2>ADJUST BOUNDING BOX</h2></div>
    <div class="tile" onclick="goBack()"><h2>BACK</h2></div>
    <div class="tile" id="on-stop-recording-submit-lesson-button" style="display: none;" onclick="onStopRecordingSubmitLesson()">
        <h2>GET SUMMARY</h2>
    </div>
</div>

<div id="upload-content-options">
    <div class="tile" id="fileInputWrapper">
        <input type="file" id="fileInput" accept=".srt"  onchange="updateFileLabel(); selectSubtitleUpload();">
        <label for="fileInput" id="fileLabel">Choose a .SRT File</label>
    </div>
    <div class="tile" id="submitButton" style="display: none;" onclick="submitSubtitleUpload()">
        <h2>SUBMIT</h2> 
    </div>
    <!-- Slider container moved outside the tile but retains the tile style -->
    <div class="tile" id="sliderContainer" style="display: none;">
        <h2>Adjust the Slider</h2>
        <p>Set the value based on the uploaded file</p>
        <input type="text" id="slider" name="slider" />
    </div>
    <div class="tile" onclick="goBack()">
        <h2>BACK</h2>
    </div>
</div>

<div id="response"></div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>